{% extends 'base.html' %}

{% block title %}Artículos{% endblock %}

{% block nav-li %}
    <li class="nav-item">
        <a class="btn btn-primary" href="{% url 'article_new' %}">
            + Nuevo
        </a>
    </li>
{% endblock nav-li %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="alert alert-danger">Necesitas estar registrado para realizar cambios.</div>
    {% endif %}
    {% for article in object_list %}
        <div class="card">
            <div class="card-header">
                <a href="{% url 'article_detail' article.pk %}" class="font-weight-bold">{{ article.title }}</a> &middot;
                <span class="text-muted">por {{ article.author }} | {{ article.date }}</span>
            </div>
            <div class="card-body">
                <p>{{ article.body }}</p>
                <a href="{% url 'article_edit' article.pk %}">Editar</a> |
                <a href="{% url 'article_delete' article.pk %}">Borrar</a>
            </div>
            {% if article.comments.all %}
                <div class="card-footer">
                    <h4>Comentarios</h4>
                    {% for comment in article.comments.all %}
                        <p>
            <span class="font-weight-bold">
              {{ comment.author }} &middot;
            </span>
                            {{ comment }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock content %}